.menubar {
	text-align: right;
}
.menubar ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}
.menubar ul li {
	border-radius: 3px;
	padding: 5px 20px;
	cursor: pointer;
	margin: 0 5px;
	user-select: none;
}
.menubar ul li:hover {
	border-bottom: 3px solid black;
	background-color: #08aeae;
	color: white;	
}
.menubar ul li.active {
	border-bottom: 3px solid black;
	background-color: #08aeae;
	color: white;	
}
